<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>ユーザー登録</h1>
      
        <%=render 'form' %>

        <a href="/login">ログインページへ</a>
      </div>
    </div>
  </div>
</div>
